<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Air Quality App</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="map" style="height: 500px"></div>
    <script>
      var apiKey = "<%= apiKey %>";
    </script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/map.js"></script>
  </body>
</html> -->

<!-- attempted leaflet but didnt like it -->
